asgiref==3.7.2
Babel==2.14.0
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.5
dj-database-url==2.1.0
Django==4.0
django-countries==7.6.1
django-extra-views==0.14.0
django-haystack==3.2.1
django-localflavor==3.1
django-oscar==3.2.4
django-oscar-paypal==2.0.0
django-phonenumber-field==5.2.0
django-tables2==2.3.4
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
exceptiongroup==1.2.0
factory-boy==3.2.1
Faker==24.14.0
gunicorn==21.2.0
h11==0.14.0
idna==3.6
iniconfig==2.0.0
packaging==23.2
paypal-checkout-serversdk==1.0.3
paypalhttp==1.0.1
phonenumbers==8.12.37
Pillow==9.3.0
pip==22.0.4
pluggy==1.4.0
psycopg2-binary==2.9.9
purl==1.6
pycountry==23.12.11
pycparser==2.22
pyOpenSSL==24.1.0
pytest==8.0.2
pytest-django==4.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-stdnum==1.20
pytz==2024.1
requests==2.31.0
setuptools==58.1.0
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
urllib3==2.2.1
uvicorn==0.28.0
whitenoise==6.6.0
